<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>

    <server>
      <id>spring-poc-svc</id>
      <username>anthonytam</username>
      <password>owf5uckpdyj72c6u42vtjvcietnxfiriqdlecl6nqgyikybomsva</password>
    </server>

  </servers>
</settings>